<h1>Choose a Task</h1>
<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-lg btn-primary" href="#/main/reception">Take Over the Desk</a>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-lg btn-primary" href="#/main/desk">Turn on Reception Desk</a>
    </div>
</div>
<br />
<br />
