<h1>Choose a Task</h1>
<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-lg btn-primary" href="#/main/desk">Take Over the Desk</a>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-lg btn-primary">Make this Target Computer</a>
    </div>
</div>
